<% include partials/header %>

<h1><%= campground.name %></h1>

<div class="main-campground-image">
  <img src="<%= campground.image_url %>" id="campgrounds">
</div>
<p><%= campground.description %></p>

  <form>
    <input type="text" id="commentInput">
  </form>
  <button type="button" id="clickButton">submit</button>

  <% campground.comments.reverse().forEach(comment => { %>
    <div id="all-comments">
      <p class="comments">
        <%= comment.author %> : <em><%= comment.text %></em>
      </p>
    </div>
  <% }); %>

<% include partials/footer %>
