<% include partials/header %>

<h1><%= campground.name %></h1>

<div class="main-campground-image">
  <img src="<%= campground.image_url %>" id="campgrounds">
</div>
<p><%= campground.description %></p>

<% campground.comments.forEach(comment => { %>
  <p><%= comment.author %></p>
  <p><%= comment.text %></p>
<% }); %>

<% include partials/footer %>
